/* for user profile styling */
#user_profile_heading {
    max-width: 90%;
    margin: 5%;
    border: lightgray solid 1px;
}

#user_display_pic {
    max-width: 70%;
    max-height: 70%;
}

#user_details {
    max-width: 90%;
    margin: 5%;
}

#details_section, #about_section {
    padding: 2% 2% 1% 2%;
    border: lightgray solid 1px;
}

#secondary-nav {
    width: 100%;
}

/* for footer */
#footer p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}