/* for user profile styling */
#user_profile_heading {
    max-width: 90%;
    margin: 5%;
    border: lightgray solid 1px;
}

#user_display_pic {
    max-width: 50%;
    max-height: 50%;
    padding: 5%;
    cursor: pointer;
    display: block;
}

#user_details, #user_upload_display_pic {
    max-width: 90%;
    margin: 5%;
}

#details_section, #about_section, #upload_dp_section, #user_reviews_made {
    padding: 2% 2% 1% 2%;
    border: lightgray solid 1px;
}

#secondary-nav {
    width: 100%;
}

#user_upload_display_pic form {
    max-width: 100%;
}

/* for overlay when user hovers over display pic */
#display_pic {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
}

#display_pic:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* for footer */
#footer p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}